services:
  api:
    build: .
    ports:
      - "3000:3000"
    command: npm run start:dev
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    env_file:
      - .env
    environment:
      DB_HOST: postgres
    depends_on:
      - postgres
    networks:
      - ceos-network

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - ceos-network

networks:
  ceos-network:

volumes:
  postgres_data:
